// Place all the styles related to the users/markers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link, a:visited, a:hover, a:active, a:focus {
	outline:none;
}


.marker-desc {
	margin-top:10px;
}

.arker-modal {
	margin-top:10px;
}

